<a href="https://colab.research.google.com/github/sonalk14/AmazonSales/blob/main/pattern.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
n = 5
for rows in range(n):
  for i in range(n):
    print("*", end=" ")
  print()

* * * * *
* * * * *
* * * * *
* * * * *
* * * * *

In [ ]:
n=5
for rows in range(n):
  for cols in range(rows+1):
    print(rows+1, end="")
  print()

1
2 2
3 3 3
4 4 4 4
5 5 5 5 5

In [ ]:
n=4
for rows in range(n):
  for cols in range(rows+1):
    print(cols+1, end=" ")
  print()

1
1 2
1 2 3
1 2 3 4

In [ ]:
n = 4
for rows in range(n):
  for i in range(rows+1, 0 , -1):
    print(i, end=" ")
  print()

1
2 1
3 2 1
4 3 2 1

In [ ]:
lines = 4
for rows in range(lines):

  for cols in range(lines-rows):

    print("*", end=" ")
  print()

* * * *
* * *
* *
*

In [ ]:
a = 0
b = 1

print(a,b, end =" ")
n = 10
for x in range(n):
    fib = a + b
    print(fib, end=" ")
    a=b
    b = fib

0 1 1 2 3 5 8 13 21 34 55 89

In [ ]:
x =13
if x>12 or x<15 and x==16:
  print("matchd")
else:
  print("not matched")

matchd

In [ ]:
arr = [1, 2, 3, 4, 5, 6]

for i in range(1, 6):

    arr[i - 1] = arr[i]

for i in range(0, 6):

    print(arr[i], end = " ")

2 3 4 5 6 6

In [ ]:
i = 1

while True:

    if i%3 == 0:

        break

    print(i)

    i += 1

1
2

In [ ]:
list1 = [1,'a',5.4]
list1.extend([-3,0.8])
print(list1)

[1, 'a', 5.4, -3, 0.8]

In [ ]:
z = set('abc')
z.add('san')
z.update(set(['p','q']))
print(z)

{'san', 'p', 'q', 'b', 'c', 'a'}

In [ ]:
a = frozenset(set([5,6,7]))
a

frozenset({5, 6, 7})

In [ ]:
i = 0
while(i<10):
  if(i%2): i = i+3

  i = i+1
  print(i)

1
5
9
13

In [ ]:
dic = {x:x*2 for x in range(1,6)}
print(dic)

{1: 2, 2: 4, 3: 6, 4: 8, 5: 10}

In [ ]:
a =1
while True:
  if a%7 == 0:
    break
  print(a,end="")
  a+=1

123456

In [ ]:
def fruit():
  print("mago")

In [ ]:
list1 =[" "]*3
print(len(list1))

3

In [ ]:
class RandomClass:
  rand= 123
print(RandomClass().rand)

123

In [ ]:
if(" "):
  print("false")
elif("true"):
  print("true")
else:
  print("none")

false

In [ ]:
set(range(-2,4,3))

{-2, 1}

In [ ]:
assert False

AssertionError:

In [ ]:
n = 4
for rows in range(n):
  for space in range(n-rows-1):
    print(" ", end="")
  for star in range(rows+1):
    print("* ", end="")
  print()

   *
  * *
 * * *
* * * *

In [ ]:
n = 4
for rows in range(n):
  for space in range(n-rows-1):
    print(" ", end=" ")
  for num in range(rows+1, 0 ,-1):
    print(num, end =" ")
  print()

      1
    2 1
  3 2 1
4 3 2 1

In [ ]:
n = 5
for rows in range(n):
  for space in range(n-rows):
    print(" ", end=" ")
  for num in range(1, rows+1):
    print(num, end =" ")
  print()

        1
      1 2
    1 2 3
  1 2 3 4

In [ ]:
n= 5
for rows in range(n):
  for i in range(n-rows):
    print(n-rows, end=" ")
  print()

5 5 5 5 5
4 4 4 4
3 3 3
2 2
1

In [ ]:
n=5
for rows in range(n):
  for i in range(n-rows,0,-1):
    print(i,end=" ")
  print()

5 4 3 2 1
4 3 2 1
3 2 1
2 1
1

In [ ]:
n = 4
for rows in range(n):
  for space in range(rows):
    print(" ", end=" ")
  for star in range (n-rows,0,-1):
    print("*",end=" ")
  print()

* * * *
  * * *
    * *
      *

In [ ]:
n = 5
for rows in range(n):
  for cols in range(n):
    if (rows==0) or (cols==0) or(rows+cols)==(n-1):
      print("*", end=" ")
    else:
      print(" ", end=" ")
  print()

* * * * *
*     *
*   *
* *
*

In [ ]:
n= 4
for rows in range(n):
  for i in range(n):
    if (rows==i):
      print("1",end=" ")
    else:
      print("0",end=" ")
  print()

1 0 0 0
0 1 0 0
0 0 1 0
0 0 0 1

In [ ]:
lines=4
for rows in range(lines):
  for cols in range(rows+1):
    print("*", end=" ")
  print()
for rows in range(lines-1):
    for cols in range(lines-rows-1):
      print("*", end=" ")
    print()

*
* *
* * *
* * * *
* * *
* *
*

In [ ]:
n = 4
for rows in range(n):
  for space in range(n-rows-1):
    print(" ", end="")
  for star in range(rows+1):
    print("* ", end="")
  print()
for rows in range(n-1):
  for space in range(rows+1):
    print(" ", end="")
  for star in range (n-rows-1):
    print("* ", end="")
  print()

   *
  * *
 * * *
* * * *
 * * *
  * *
   *

    1
  1 2 1
1 2 3 2 1

In [ ]:
for num in range(1,16):
  if(num%3==0 ):
    print("hello", end=" ")
  else:
    print(num, end=" ")
    if num%2==0:
      print("even no")
    else:
      print("odd no")

1 odd no
2 even no
hello 4 even no
5 odd no
hello 7 odd no
8 even no
hello 10 even no
11 odd no
hello 13 odd no
14 even no
hello

In [ ]:
a = 0
b= 1
n = 8
for i in range(n):
  print(fib)
  fib= a+b
  a=b
  b =fib

NameError: name 'fib' is not defined

In [ ]:
n=5
for i in range(5):
 for j in range (5):
  :
    if(num%2==0):
      print(num)
    else:
      print("*" , end=" ")
 print()

* 2
* 4
* 6
* 8
* 10
* 2
* 4
* 6
* 8
* 10
* 2
* 4
* 6
* 8
* 10
* 2
* 4
* 6
* 8
* 10
* 2
* 4
* 6
* 8
* 10

* 2
* 4
* 6
* 8
* 10
* 2
* 4
* 6
* 8
* 10
* 2
* 4
* 6
* 8
* 10
* 2
* 4
* 6
* 8
* 10
* 2
* 4
* 6
* 8
* 10

* 2
* 4
* 6
* 8
* 10
* 2
* 4
* 6
* 8
* 10
* 2
* 4
* 6
* 8
* 10
* 2
* 4
* 6
* 8
* 10
* 2
* 4
* 6
* 8
* 10

* 2
* 4
* 6
* 8
* 10
* 2
* 4
* 6
* 8
* 10
* 2
* 4
* 6
* 8
* 10
* 2
* 4
* 6
* 8
* 10
* 2
* 4
* 6
* 8
* 10

* 2
* 4
* 6
* 8
* 10
* 2
* 4
* 6
* 8
* 10
* 2
* 4
* 6
* 8
* 10
* 2
* 4
* 6
* 8
* 10
* 2
* 4
* 6
* 8
* 10

In [ ]:
rows = 5
i = 1
while i <= rows:
 j = i
while j < rows:
print(' ', end=' ')
j += 1
k = 1
while k <= i:
print('*', end=' ')
k += 1
print()
i += 1
i = rows
while i >= 1:
j = i
while j <= rows:
print(' ', end=' ')
j += 1
k = 1
while k < i:
print('*', end=' ')
k += 1
print('')
i -=

IndentationError: expected an indented block after 'while' statement on line 3 (<ipython-input-1-1abd6b509e5d>, line 4)

In [ ]:
def print_alpha_nums(abc_list,num_list):
  for char in abc_list:

      for num in num_list:
        print(char ,"-" ,num)

print_alpha_nums(['a','b','c'],[1,2,3])

a - 1
a - 2
a - 3
b - 1
b - 2
b - 3
c - 1
c - 2
c - 3

In [ ]:
for i in [1,2,3,4][::-1]:
  print(i,end='')

4321

In [ ]:
a =[10,20,30,40,50,60,70]
b=a[10:]
print(b)

[]

In [ ]:
x =5
y =10
result = lambda x:lambda y:x+y
print(result(x)(y))

15

In [ ]:
min(max(False,-3,-4),2,7)

False

In [ ]:
z=set('abc')
z.add('san')
z.update(set(['p','q']))
print(z)

{'san', 'c', 'a', 'p', 'q', 'b'}

In [ ]:
x=[1,3,2,1]
y=x.append(4)
print(y)

None

In [ ]:
a =14
b = 7
print(a&b)

6

In [ ]:
s="Itvedant"
print("Character")
for x in s:
      print(x)

Character
I
t
v
e
d
a
n
t

In [ ]:
my_list=list("itvedant")
print(my_list)
my_list.append("san")
print(my_list)

['i', 't', 'v', 'e', 'd', 'a', 'n', 't']
['i', 't', 'v', 'e', 'd', 'a', 'n', 't', 'san']

In [ ]:
lists = [10,20,30,40]
print(lists[10:4])

[]

In [ ]:
t=(10,20,"Itvedant",67.8,)
print(t)
n=len(t)
print("Total number of elements:",n)

(10, 20, 'Itvedant', 67.8)
Total number of elements: 4

In [ ]:
for i in range(1,4):
  for j in range(1,4):
    print(i,j,end=" ")

1 1 1 2 1 3 2 1 2 2 2 3 3 1 3 2 3 3

In [ ]:
s2={1,4,2,5,7,8,9.10,55,50,70,80,10,50,10,30,"abc"}
print(s2)
s2.add(777)
print("add : ",s2)
s2.update(('a','b','c'))
print("update : ",s2)
s2.pop()
print("pop : ”",s2)
s2.remove("abc")
print("remove : ",s2)
s2.discard("abcde")
print("discard: ",s2)
s2.clear()
print(s2)

{1, 2, 4, 5, 70, 7, 8, 9.1, 10, 80, 'abc', 50, 55, 30}
add :  {1, 2, 4, 5, 70, 7, 8, 9.1, 10, 777, 80, 'abc', 50, 55, 30}
update :  {1, 2, 'c', 4, 5, 70, 7, 8, 9.1, 10, 777, 'a', 80, 'abc', 50, 55, 'b', 30}
pop : ” {2, 'c', 4, 5, 70, 7, 8, 9.1, 10, 777, 'a', 80, 'abc', 50, 55, 'b', 30}
remove :  {2, 'c', 4, 5, 70, 7, 8, 9.1, 10, 777, 'a', 80, 50, 55, 'b', 30}
discard:  {2, 'c', 4, 5, 70, 7, 8, 9.1, 10, 777, 'a', 80, 50, 55, 'b', 30}
set()

In [ ]:
s1={10,20,30,40}
s2={30,40,50,60}
#result=s1.union(s2)
result=s1|s2
print(result)
#r1=s1.intersection(s2)
r1=s1&s2
print(r1)

{40, 10, 50, 20, 60, 30}
{40, 30}

In [ ]:
num_list =[21,13,19,3,11,5,18]
num_list.sort()
num_list[len(num_list)//2]

13

In [ ]:
x =5
y= 10
result = lambda x:lambda y: x+y
print (result(x)(y))

15

In [ ]:
a=15
b=1
c=a>>b
print(c)

7

In [ ]:
4+3%5

7

In [ ]:
min(max(False,-3,-4),2,7)

False

In [ ]:
class tester:
  def __init__(self,id):
    self.id = str(id)
    id ="224"
  temp = tester(12)
  print(temp.id)

NameError: name 'tester' is not defined

In [ ]:
def foo(x):
  x[0]=['def']
  x[1]=['abc']
  return id(x)
  q =['abc','def']
  print(id(q)==foo(q))

In [ ]:
print(5%2 == 2, end=" ")
print(5.5 %2 ==1)

False False

In [ ]:
a = 10
b = 4
if(~a):
  print(a-2*b+1)
else:
  print(a-b/2)

3

In [ ]:
'5.0'==5.0
5.0 == 5
5.1>5

True

In [ ]:
z = "xyz"
j ="j"
while j in z:
  print(j,end=" ")

In [ ]:
for i in range(5):
  if(i%2):
    print(i,end=" ")

1 3

In [ ]:
9.!>'9'

SyntaxError: invalid syntax (<ipython-input-12-20d7312ebdbe>, line 1)

In [ ]:
x= 5+(6>4)+6/3*5
print(x)

16.0

In [ ]:
for i in range(1,6,2):
  if(i==4):
    break
  print(i,end=" ")

1 3 5

In [ ]:
for i in ('a','b','c','d'):
  print(i,end="")
else:
  print("end")

abcdend

In [ ]:
a =5
b=(a == 2)
print(b+3)

3

In [ ]:
x = [1,3,2,1]
y = x.append(4)
print(y)

None

In [ ]:
list1 =[1,6,1,5,6]
list2=list1.copy()
list1.insert(2,8)
print(list2)
print(list1)

[1, 6, 1, 5, 6]
[1, 6, 8, 1, 5, 6]

In [ ]:
list1 =[2,4,5,6]
list2= list1
list1.append(8)
print(list2)

[2, 4, 5, 6, 8]

In [ ]:
sum =0
values =[1,3,5,7]
for number in values:
  sum = sum+ number
print(sum)

16

In [ ]:
for i in range(1,4):
  for j in range(1,4):
    print(i,j,end=" ")

1 1 1 2 1 3 2 1 2 2 2 3 3 1 3 2 3 3

In [ ]:
'raining',find('z')

NameError: name 'find' is not defined

In [ ]:
class test:
  def __init__(self,a="hello world"):
    self.a =a

  def display(self):
    print(self.a)

  obj = test()
  obj.display()

NameError: name 'test' is not defined

In [ ]:
string = "my name is x"
for i in ' '.join(string.split()):
    print (i, end=", ")

m, y,  , n, a, m, e,  , i, s,  , x,

In [ ]:
a=["Apple","Ball","Cobra"]
a.sort(key=len)
print(a)

['Ball', 'Apple', 'Cobra']

In [ ]:
a = [1, 5, 7, 9, 9, 1]
b=a[0]
x= 0
for x in range(1, len(a)):
    if a[x] > b:
        b = a[x]
        b= x
print(b)

4

In [ ]:
print('+88'.zfill(6))

+00088

In [ ]:
a={'B':5,'A':9,'C':7}
sorted(a)

['A', 'B', 'C']

In [ ]:
a={}
a[2]=1
a[1]=[2,3,4]
print(a[1][1])

3

In [ ]:
d = {0: 'a', 1: 'b', 2: 'c'}
for x in d.keys():
  print(d[x])

a
b
c

In [ ]:
x = 'abcd'
for i in x:
   print(i.upper())

A
B
C
D

In [ ]:
for i in range(int(4.0)):
   print(i)

0
1
2
3

In [ ]:
int(4)

4

In [ ]:
a,b=1,0
a=aˆb
b=aˆb
a=aˆb
print(a)

In [ ]:
val = 154
while(not(val)):
  val**2
else:
  val//=2
print(val)

77

In [ ]:
from random import randit
for i in range(5):
  print(random(1,5))

ImportError: cannot import name 'randit' from 'random' (/usr/lib/python3.10/random.py)

In [ ]:
for row in range(1, 15):
  # Print characters from A to chr(row + 64) (ASCII conversion for uppercase letters)
  for char in range(65, row + 65):
    print(chr(char), end=" ")
  # Move to the next line
  print()

A
A B
A B C
A B C D
A B C D E
A B C D E F
A B C D E F G
A B C D E F G H
A B C D E F G H I
A B C D E F G H I J
A B C D E F G H I J K
A B C D E F G H I J K L
A B C D E F G H I J K L M
A B C D E F G H I J K L M N

In [ ]:
n = 5
num =1
for i in range(0,n):
  for j in range(0,i+1):
    print(num,end=" ")
    num = num+1
  print()

1
2 3
4 5 6
7 8 9 10
11 12 13 14 15

In [ ]:
n = 5
num = 65
for i in range(0,n):
  for j in range(0,i+1):
    ch=chr(num)
    print(ch,end=" ")
  num = num+1
  print()

A
B B
C C C
D D D D
E E E E E

In [ ]:
n = 5
num = 65
for i in range(0,n):
  for j in range(0,i+1):
    ch = chr(num)
    print(ch,end=" ")
    num = num+1
  print()

A
B C
D E F
G H I J
K L M N O

In [ ]:
l1 = [1,2,3]
l2 = [4,5,6]

In [ ]:
d = {1:'r',2:6,1:5,3:'y'}
print(d)

{1: 5, 2: 6, 3: 'y'}

In [ ]:
x=1
while true

In [ ]:
x = 4+3 and 6 or 4>5+2
print(x)

6

In [ ]:
print(int(4.9))

4

In [ ]:
str1 = str(1234)
str2 ='1234'
print(str1 ==str2,end=" ")
print(str1 is str2)

True False

In [ ]:
import datetime
from datetime import date
now = datetime.datetime.now()
print (now)
now = date.today()
print(now)

2024-05-14 03:15:39.881807
2024-05-14

In [ ]:
vowel = ['a','e','i','o','u']
words = "programming"
count =0
for word in words:
  if word in vowel:
    count+=1
print(count)

3

In [ ]:
vowel = ['a','e','i','o','u']
words = "programming"
count = 0
for word in words:
  if word not in vowel:
    count+=1
print()

In [ ]:
lst1 = [1,2,3]
lst2 = [4,5,6]
res_lst =[]
for i in range(0,len(lst2)):
  res_lst.append(lst1[i]+lst2[i])
print(res_lst)

[5, 7, 9]

In [ ]:
str1 = "listen"
str2 = "silent"
def check(str1,str2):
  if(sorted(str1)==sorted(str2)):
    print("anagram")
  else:
    print("not an anagram")

check(str1,str2)

anagram

In [ ]:
n = 5
factorial = 1
for i in range(1,n+1):
  factorial*=i
print(factorial)

120

In [ ]:
a = 0
b =1
n=10
for x in range(n):
  fib = a+b
  print(fib,end=" ")
  a =b
  b=fib

1 2 3 5 8 13 21 34 55 89

In [ ]:
numbers=[5,2,3,8]
minimum = numbers[0]
for number in numbers:
  if number<minimum:
    minimum = number

print(minimum)

2

In [ ]:
length = len(numbers)
print(length)
index = length // 2
print(index)
x=numbers[index+1]

4
2
8

In [ ]:
x = 4+3 and 6 or 4>5+2
print(x)

6

In [ ]:
import math

#print(dir(math))

print(math.factorial(5))

print(math.sqrt(25))

print(math.ceil(5.8))

print(math.floor(5.2))

print(math.pow(5,3))

print(math.gcd(6,2))

print(math.pi)

120
5.0
6
5
125.0
2
3.141592653589793

In [ ]:
import random
list1=['java','python','php','.net','cpp']

for i in range(4):

    print(random.choice(list1))

cpp
java
php
java

In [ ]:
for k in range(10):

    print(random.randrange(10,20))

14
16
19
13
15
15
10
13
16
16

In [ ]:
for j in range(10):

    print(random.randint(1,10))

7
10
3
9
5
3
10
4
8
2

In [ ]:
for k in range(10):

    print(random.uniform(20,50))

36.853822578259894
22.93308152288491
45.742872222998486
39.65052169856407
41.69723531846808
30.411009445479166
23.89814543131163
26.829405649783293
47.55482349417231
23.064945988560115

In [ ]:
import datetime
print(datetime.datetime.now())
td = datetime.date.today()
print(td.day)

2024-05-16 07:40:43.243733
16

In [ ]:
def fib(n):    # write fibonacci series up to n



    a, b = 0, 1

    while a < n:

        print(a, end=' ')

        a, b = b, a+b

    print()

In [ ]:
print(2**1*3,end=" ")
print(2*1**3)

6 2

In [ ]:
try:
  div =